div{
    text-align: center;
    padding: auto;
    height: auto;
    background-color: whitesmoke;
    width: 450px;
    border-radius: 10px;
    justify-content: center;
    align-self: center;
    margin: auto;
    align-content: center;
    align-items: center;
    ruby-align: center;
}

div:hover{
    box-shadow: 5px 5px 5px 5px hotpink ;
}
button{
    background-color: blue;


}
input{
    margin-bottom:20px;
    border: 0cap;
    border-bottom: 2px solid black;
    padding: 2px 15px;

}